# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/checkstyle-idea.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/sonarlint/
.idea/workspace.xml
/L2demoHelpers.iml
/src/main/main.iml
/src/test/test.iml
/.idea/
